body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}
h1{
    color: darkmagenta;
}
form{
    background-color: antiquewhite;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px gray;
}
#textBox{
    width: 50%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
font-size: 1.5em;
}
label{
    font-size: 1.5em;
}
button{
    background-color:midnightblue;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.5em;
    margin-top:10px ;
    border-radius: 5px;
    cursor: pointer;
    
}
#result{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
button:hover{
    background-color: steelblue;
}